
  
  /* gallery */
  div.gallery {
    border: 1px solid #040404;
    font-family: fantasy;
    font-size: xx-small;
    background-color: #f9abdf;
  }
  
  div.gallery:hover {
    border: 1px solid #060606;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* contact form */
  * {
    box-sizing: border-box;
  }

  h2 {
    font-family: fantasy;
    color: #ff00b7;
  }
  
  p {
    font-family:cursive;
    font-size: larger;
  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff00b7;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0e0e0e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #060606;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #ffeef9;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  body {
    height: 3000px; /* Used to enable scrolling */
    background: linear-gradient(55deg, #ff006f 0%, #ff92e4 51%, #ffd2f6 85%);
  }

